.me-auto {
    margin-left: auto;
    margin-right: 0!important;
}

.navbar-toggler {
    color: rgba(255,255,255,.55);
    border: none;
}

@media (min-width: 576px) {
.ms-1 {
    margin-left: 2rem!important;
}
}